<div class="wander-bio">
    <img src="{{ 'wander-renee.png' | asset_url }}" style="width: 100%; height: auto;" />
</div>

{% schema %}
{
  "name": "WANDER Bio",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "WANDER Bio",
      "settings": {
        
      } 
    }
  ]
}
{% endschema %}