<div class="highlight is-brown serif-italic">
    <div>{{ section.settings.paragraph }}</div>
</div>

{%- style -%}
    .highlight {
        padding: 163px;
        color: white;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
    }
{%- endstyle -%}

{% schema %}
{
  "name": "WANDER Highlight",
  "settings": [

    {
      "type": "html",
      "id": "paragraph",
      "label": "Paragraph"
    },
  
  ],
  "presets": [
    {
      "name": "WANDER Highlight",
      "settings": {
        
      }
    }
  ]
}
{% endschema %}
