// .fade {
//     position: relative;
//     // opacity: 1;
//     //transition: opacity 1s ease-in-out;
// }

// .hidden {
//     opacity: 0;
// }

// .fade, .hidden {
//     transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
// }

// .fade {
//     opacity: 1;
//     visibility: visible;
//     position: relative;
// }

// .hidden {
//     opacity: 0;
//     visibility: hidden;
//     position: relative;
// }


.fader-group {
    position: relative;
    width: 100%;
}

.slide {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    width: 100%;
}

.showme {
    opacity: 1;
}